/* #4d5ae5 - головний колір бренду і 1-ї кнопки (на мою думку)
#434455 - колір тексту абзаців
#2e2f42 - колір хедерів з h2...
#404bbf - колір кнопок при ховері
#E7E9FC - колір фон кнопок (радіо кнопок/фільтру)
#ffffff - колір 1-го h1
#f4f4fd - лого футера кінця
#e7e9fc - колір абзацу футера */
:root {
  --brand-logo-color: #4d5ae5;
  --textp-color: #434455;
  --text-headersecond-color: #2e2f42;
  --hover-btn-portfolio-color: #404bbf;
  --hover-btn-portf-backgrd-color: ##e7e9fc;
  --text-header-first-color: #ffffff;
  --footer-logo-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
}

body {
  font-family: 'Roboto', Times New Roman, sans-serif;
  letter-spacing: 0.02em;
  color: var(--textp-color);
}

img {
  display: block;
}

.background-logo {
  background-color: var(--text-headersecond-color);

  padding-top: 100px;
  padding-bottom: 100px;
}

button {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

h2,
h3 {
  margin-top: 0;
  margin-bottom: 8px;

  color: var(--text-headersecond-color);
}

p {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.5;
}

h2 {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
}

.menu-filter {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.menu-filter-div {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;

  border: 1px solid var(--footer-text-color);
  border-top: none;
}

.menu-filter,
.menu-text {
  text-align: left;
}

/* .menu-filter > p {
  border: 1px solid var(--footer-text-color);
  border-top: none;
} */

.listnone {
  list-style: none;
  padding: 0;
  margin: 0;
}

.linknone {
  text-decoration: none;
}
/* ==========main-HEADER====================== */
.hero-title {
  margin-top: 0;
  margin-bottom: 48px;
  width: 496px;
  margin-left: auto;
  margin-right: auto;

  font-size: 56px;
  line-height: 1.1;
  color: var(--text-header-first-color);
}

.main-page-logo,
.main-logo-nav {
  display: flex;
}

.main-page-logo {
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.hero {
  text-align: center;

  padding-top: 188px;
  padding-bottom: 188px;
}

.under-hero-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1158px;
  /* outline: 2px solid tomato;
  background-color: green; */
}

.section {
  padding-bottom: 120px;

  /* background-color: #404bbf; */
  text-align: center;
}

.top-line-backgrd {
  background-color: var(--text-header-first-color);
  border-bottom: 1px solid var(--footer-logo-color);
}

.main-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-headersecond-color);
}

.main-logo > span {
  width: 44px;
  height: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-logo-color);
}

.main-menu-nav {
  display: flex;

  margin-left: 77px;
}

.main-menu-nav .menu-nav-li + .menu-nav-li {
  margin-left: 40px;
}

.menu-nav {
  color: var(--text-headersecond-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.menu-nav:hover,
.menu-nav:focus {
  color: var(--hover-btn-portfolio-color);
}

.main-add {
  font-style: normal;
}

.main-address {
  display: flex;

  margin-left: 332px;
}

.main-address .main-add-li + .main-add-li {
  margin-left: 40px;
}

.main-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--textp-color);
}

.main-mail:hover,
.main-mail:focus {
  color: var(--hover-btn-portfolio-color);
}

.main-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--textp-color);
}

.main-tel:hover,
.main-tel:focus {
  color: var(--brand-logo-color);
}

/* ==========section1-index===================== */

.main-menu-future,
.main-menu-team {
  margin-top: 0;
  margin-bottom: 72px;
}
.main-order-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-header-first-color);
  background: var(--brand-logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: inline-block;

  border: none;
  padding: 16px 32px;
  cursor: pointer;
}

.main-order-btn:hover,
.main-order-btn:focus {
  background: var(--hover-btn-portfolio-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* --------our team------ */
.team-li {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--text-header-first-color);
}

.our-team-div {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* ==========/section1-index==================== */
/* ==========section1-portfolio================= */
.filtr-portfolio {
  padding-top: 96px;
}

.menu-btn-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.menu-feature-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.li-item {
  width: calc((100% - 48px) / 3);
}

/* ==========/section1-portfolio================= */
/* ==========section2-index===================== */
.menu-feature {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}

.menu-future-text {
  width: 264px;
}
/* ==========/section2-index===================== */
/* ==========/HEADER====================== */

/* ==========BODY========================= */
.btn-portfolio {
  border: none;
  color: var(--brand-logo-color);
  background-color: var(--footer-logo-color);
  border: 1px solid var(--footer-text-color);

  border-radius: 4px;
  padding: 12px 24px;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--text-header-first-color);
  background-color: var(--hover-btn-portfolio-color);
  cursor: pointer;
}
/* ================SECTION LAST "OUR TEAM"========== */
.our-team-page {
  text-align: center;
  background-color: var(--footer-logo-color);

  padding-top: 120px;
  padding-bottom: 120px;
}
/* ==========/BODY======================== */

/* ===========footer======================= */

.text-footer-logo > p {
  width: 264px;
  color: var(--footer-text-color);
}

.main-footer-logo > span {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-logo-color);
}

.main-footer-logo {
  display: inline-block;

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-logo-color);

  margin-bottom: 16px;
}
